<div style="background: linear-gradient(135deg,#000d1a,#112335); height: 100%; padding-top: 20px">
  <div class="overflow-auto customScroll" id="chatBox" style="height: 80%; padding-top: 1rem; margin-bottom: 1rem"></div>
  <div class="inputContainer">
      <input class="inputField" id="inputField" autofocus placeholder="Ask for advice..." [(ngModel)]="myInput"
      (keydown)="onGoClickEnter($event)"/>
      <div class="sendButton" title="Ask Gemini" (click)="onGoClick()"><i class="fa-solid fa-paper-plane"></i></div>
    </div>
</div>